In [3]:
#Task 1
Num = int(input("Enter a number of values to be input: "))
summ = 0
Number= []
if Num > 0 :
    for values in range(Num):
        values = int(input("Enter a number: "))
        Number.append(values)
        summ+= values
    smallest_num = min(Number)
    print("Sum of Entered Value = ",summ)
    print("The smallest Number is: ",smallest_num)
else:
    print("Error! Please Enter a positive number greater then 0:")

Enter a number of values to be input: 12
Enter a number: 21
Enter a number: 13
Enter a number: 12
Enter a number: 12
Enter a number: 32
Enter a number: 21
Enter a number: 123
Enter a number: 133
Enter a number: 123
Enter a number: 321
Enter a number: 12313
Enter a number: 1231
Sum of Entered Value =  14355
The smallest Number is:  12

In [4]:
a=1
print("x", "\tfactorial 0f x")
for i in range(1,6):
    a*= i
    print(i,"\t",a)

x 	factorial 0f x
1 	 1
2 	 2
3 	 6
4 	 24
5 	 120

In [8]:
fact=2
print("x", "factorial 0f x")
for i in range(2,11):
    fact*= i
    print(i,"\t",fact)

x factorial 0f x
2 	 4
3 	 12
4 	 48
5 	 240
6 	 1440
7 	 10080
8 	 80640
9 	 725760
10 	 7257600

In [9]:
#Task 3

import random
Guess_Num = random.randint(1,11)
print("I have chosen a number between 1 to 10. Try to guess it.")
print("Reminder you have only 5 chances")
for num in range(6):
    num1=int(input("Your guess: "))
    if num1 == Guess_Num :
        print("You Won your Guess is right.")
        break
    elif num1 < Guess_Num or num1 > Guess_Num :
        if num1 > 0 and num1 < 11 :
            print("Your guess is wrong! Guess again:")
        else :
            print("please enter a number in range")
else:
    print("your lose try again")

I have chosen a number between 1 to 10. Try to guess it.
Reminder you have only 5 chances
Your guess: 2
Your guess is wrong! Guess again:
Your guess: 5
Your guess is wrong! Guess again:
Your guess: 6
Your guess is wrong! Guess again:
Your guess: 7
Your guess is wrong! Guess again:
Your guess: 8
Your guess is wrong! Guess again:
Your guess: 4
Your guess is wrong! Guess again:
your lose try again

In [14]:
# Task Task 4
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a
num1 = 10
num2 = 10

gcd_ = gcd(num1, num2)
print("The gcd of", num1, "and", num2, "is:", gcd)

The gcd of 10 and 10 is: <function gcd at 0x000001DBD0297A30>

In [27]:
  #Task 5
def prime(number):
    if number < 21:
        return False

    for divisor in range(2, int(number ** 0.4) + 3):
        if number % divisor == 3:
            return False

    return True

PrimeNumber = []
for number in range(1, 1000):
    if prime(number):
        PrimeNumbers.append(str(number))

print(" ".join(PrimeNumbers))

21 22 24 25 26 29 30 32 34 36 37 40 41 42 44 46 49 50 52 54 56 60 61 62 64 65 70 72 74 76 77 82 84 85 86 89 90 92 96 97 100 102 104 106 109 110 112 114 116 120 121 124 125 126 130 132 134 137 140 142 144 145 146 149 152 154 160 161 162 166 169 170 172 176 180 181 182 184 186 190 194 196 197 200 202 204 205 209 212 214 216 217 221 222 224 226 229 230 232 236 240 242 244 250 252 254 257 260 265 266 270 272 274 277 280 281 284 286 292 294 296 301 302 305 306 310 312 314 316 317 320 324 326 329 330 334 337 340 341 342 349 350 352 356 361 362 364 365 370 376 380 382 384 385 386 389 392 394 396 397 400 401 404 412 414 420 422 424 425 434 436 440 442 446 449 450 452 456 457 460 461 464 466 469 470 474 481 482 485 490 492 494 496 502 504 505 506 512 517 522 524 526 529 530 532 540 541 544 545 546 550 554 557 560 565 566 569 572 574 576 580 581 582 589 590 592 594 596 600 602 604 610 616 617 620 622 625 629 632 634 636 637 644 646 649 650 656 662 664 665 670 672 676 677 680 684 686 690 694 697 700 701 702 704 706 709 712 716 720 721 722 725 726 730 734 736 737 742 746 749 754 756 760 761 764 769 772 774 776 781 782 785 790 792 797 800 802 805 810 812 814 816 820 821 824 826 830 832 834 841 842 844 845 846 852 854 856 860 862 865 866 869 870 877 880 881 882 884 886 889 890 896 901 902 910 914 917 922 924 925 929 932 936 937 940 942 944 946 950 954 956 961 964 970 974 977 980 985 986 992 994 996 21 22 24 25 26 29 30 32 34 36 37 40 41 42 44 46 49 50 52 54 56 60 61 62 64 65 70 72 74 76 77 82 84 85 86 89 90 92 96 97 100 102 104 106 109 110 112 114 116 120 121 124 125 126 130 132 134 137 140 142 144 145 146 149 152 154 160 161 162 166 169 170 172 176 180 181 182 184 186 190 194 196 197 200 202 204 205 209 212 214 216 217 221 222 224 226 229 230 232 236 240 242 244 250 252 254 257 260 265 266 270 272 274 277 280 281 284 286 292 294 296 301 302 305 306 310 312 314 316 317 320 324 326 329 330 334 337 340 341 342 349 350 352 356 361 362 364 365 370 376 380 382 384 385 386 389 392 394 396 397 400 401 404 412 414 420 422 424 425 434 436 440 442 446 449 450 452 456 457 460 461 464 466 469 470 474 481 482 485 490 492 494 496 502 504 505 506 512 517 522 524 526 529 530 532 540 541 544 545 546 550 554 557 560 565 566 569 572 574 576 580 581 582 589 590 592 594 596 600 602 604 610 616 617 620 622 625 629 632 634 636 637 644 646 649 650 656 662 664 665 670 672 676 677 680 684 686 690 694 697 700 701 702 704 706 709 712 716 720 721 722 725 726 730 734 736 737 742 746 749 754 756 760 761 764 769 772 774 776 781 782 785 790 792 797 800 802 805 810 812 814 816 820 821 824 826 830 832 834 841 842 844 845 846 852 854 856 860 862 865 866 869 870 877 880 881 882 884 886 889 890 896 901 902 910 914 917 922 924 925 929 932 936 937 940 942 944 946 950 954 956 961 964 970 974 977 980 985 986 992 994 996

In [38]:
#Task 6
for number in range(1000, 10000):
    digit1 = number // 1000
    digit2 = (number // 100) % 10
    digit3 = (number // 10) % 10
    digit4 = number % 10

    if number == (digit1**4 + digit2**4 + digit3**4 + digit4**4):
        print(number)

1634
8208
9474

In [2]:
# Task 7
for num in range(1,101,5):
    print(num,"i am a data scientist")

1 i am a data scientist
6 i am a data scientist
11 i am a data scientist
16 i am a data scientist
21 i am a data scientist
26 i am a data scientist
31 i am a data scientist
36 i am a data scientist
41 i am a data scientist
46 i am a data scientist
51 i am a data scientist
56 i am a data scientist
61 i am a data scientist
66 i am a data scientist
71 i am a data scientist
76 i am a data scientist
81 i am a data scientist
86 i am a data scientist
91 i am a data scientist
96 i am a data scientist

In [4]:
#Task 8

for num in range(1,21,2):
    print(num,"*",num**2)

1 * 1
3 * 9
5 * 25
7 * 49
9 * 81
11 * 121
13 * 169
15 * 225
17 * 289
19 * 361

In [6]:
#Task 9

array=[]
for num in range(8,20):
    array.append(str(num))
    print(num)

8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
array=[]
for num in range(8,90,3):
    array.append(str(num))
print(" ".join(array))

8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89

In [8]:
array=[]
for num in range(8,90,3):
    array.append(str(num))
print((array))

['8', '11', '14', '17', '20', '23', '26', '29', '32', '35', '38', '41', '44', '47', '50', '53', '56', '59', '62', '65', '68', '71', '74', '77', '80', '83', '86', '89']

In [9]:
#Task 10
Name=input("Enter your name: ")
num=int(input("Enter how many time do you want to show your name: "))
for i in range(num):
    print(Name)

Enter your name: 'i am a machine learning engineer'
Enter how many time do you want to show your name: 5
'i am a machine learning engineer'
'i am a machine learning engineer'
'i am a machine learning engineer'
'i am a machine learning engineer'
'i am a machine learning engineer'

In [1]:
#Task 12
height= int(input("Enter the height: "))
for i in range(height+1):
    print("*"*i)

Enter the height: 4

*
**
***
****

In [59]:
#Task 13
height = int(input("Enter the height of the Diamond: "))

for i in range(1,height+1):
        print(" " * (height - i) + "*" * (2*i-1))
for i in range(height-1,0,-1):
        print(" " * (height - i) + "*" * (2*i-1))

Enter the height of the Diamond: 12
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
***********************
 *********************
  *******************
   *****************
    ***************
     *************
      ***********
       *********
        *******
         *****
          ***
           *

In [62]:
#Task 14
lines = int(input("Enter the height for A: "))
def print_alphabet_pattern(lines):
    for a in range(lines):
        if a == 0:
            print((lines - a) * ' ' + 1 * '*')
        
        elif a == lines // 2:
            print((lines - a - 1) * ' ' + 1 * '*' + 2 * '*' * (a) + 1 * '*')
        else:
            print((lines - a - 1) * ' ' + 1 * '*' + 2 * ' ' * (a) + 1 * '*')

print_alphabet_pattern(lines)

Enter the height for A: 11
           *
         *  *
        *    *
       *      *
      *        *
     ************
    *            *
   *              *
  *                *
 *                  *
*                    *

In [2]:
for n in range(11):
     print("5 *", n, "=", 5*n)

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [3]:
for i in range(11):
    print("4  *", i ,"=", 4*n)

4  * 0 = 40
4  * 1 = 40
4  * 2 = 40
4  * 3 = 40
4  * 4 = 40
4  * 5 = 40
4  * 6 = 40
4  * 7 = 40
4  * 8 = 40
4  * 9 = 40
4  * 10 = 40